include AUTHORS COPYING TODO pulsecaster.desktop
include org.pulsecaster.PulseCaster.gschema.xml
include pulsecaster.appdata.xml
recursive-include pulsecaster *.png *.svg *.ui
recursive-include po *.pot *.po
