[Desktop Entry]
Name=PulseCaster
GenericName=Podcast Recorder
Comment=Use PulseAudio to record a podcast from a microphone or VoIP
Exec=pulsecaster
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/pulsecaster/icons/scalable/pulsecaster.svg
Categories=GNOME;AudioVideo;Audio;
