<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/"
      type="topic"
      id="COMPLETE_ME">
  <info>
    <link type="guide" xref="index"/>
    <credit type="author">
      <name>COMPLETE_ME: NAME</name>
      <email>COMPLETE_ME: EMAIL</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>
  <title>COMPLETE_ME: TITLE</title>

</page>
